<div id="header" class="jumbotron">
  <img id="burger-pic" src="assets/img/photo-1534790566855-4cb788d389ec.jpeg">
  <h1>Burger Time</h1>
</div>
<div id="content-area" class="container">
    <div class="row">
        <div id="un-eaten" class="col-md-6">
           <h2>Burgers to Eat</h2>
           <ol>
           {{#each burger}}
            {{#unless devoured}}
                {{> burgers/burger-block devoured=false}}
            {{/unless}}
           {{/each}}
           </ol>
        </div>
        <div id="eaten" class="col-md-6">
           <h2>Burgers Already Eaten</h2>
           <ol>
           {{#each burger}}
            {{#if devoured}}
                {{> burgers/burger-block devoured=true}}
            {{/if}}
           {{/each}}
           </ol>
        </div>
    </div>
    {{!-- flex to center form --}}
    <div class="d-flex justify-content-center">
        <div class="row">
            <div id="form-area" class="col-md-12" >
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Enter your Favorite Burger</label>
                        <textarea class="form-control" id="burger_name" rows="3"></textarea>
                    </div>
                    <button type="submit" id="add-burger" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

