#burger-pic {
    border-radius: 90%;
    height: 200px;
}
#header {
    text-align: center;
}
/* center the page */
/* #content-area {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
} */
li {
    padding: 10px;
    /* display: inline-block; */
}
.devour {
    display: inline-block;
}
#eaten {
    color: grey;
}
